// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// palette - https://coolors.co/048a81-06d6a0-54c6eb-8a89c0-cda2ab

$color-primary: #048a81;
$color-secondary: #06d6a0;
$color-tertiary: #54c6eb;
$color-quaternary: #8a89c0;
$color-quinary: #cda2ab;
